*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffe5e5;  
}
.continer{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;  
    justify-content: center;
    text-align: center;
    max-width: 500px; 
    margin: 20px;  
}
#go{
    width: 200px;
    height: 200px;
    background-color: #fff;
}
#g{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.btn{
    display: flex;
    gap: 25px;
}
.btn a{
    padding: 10px 20px;
    background: #ff4d4d;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background 0.3s ease;
    box-shadow: 0.5rem 1rem 3rem hsl(0%, 0%, 0%,0.3);
}   